.button {
    padding: 20px;
}
.alert {
    color: red;
}
:root {
    --apricot: #ffcdb3;
    --melon: #ffb6a3;
    --pastel-pink: #e6999c;
    --english-lavender: #b4838d;
    --old-lavender: #6c6774;
}
* {
    max-width: var(--measure);
}
body,
div,
footer,
header,
html,
main,
nav {
    max-width: none;
}
:root {
    --min-width: 320;
    --max-width: 1140;
    --min-size: 16;
    --max-size: 20;
    --min-ratio: 1.2;
    --max-ratio: 1.333;
    --fluid-break: calc(
        (100vw - var(--min-width) * 1px) / (var(--max-width) - var(--min-width))
    );
    --min-scale--2: calc(var(--min-scale--1) / var(--min-ratio));
    --max-scale--2: calc(var(--max-scale--1) / var(--max-ratio));
    --min-size--2: calc(var(--min-size--1) / var(--min-ratio));
    --max-size--2: calc(var(--max-size--1) / var(--max-ratio));
    --step--2: clamp(
        calc(var(--min-size--2) * 1rem / 16),
        calc(
            var(--min-size--2) * 1rem / 16 +
                (var(--max-size--2) - var(--min-size--2)) * var(--fluid-break)
        ),
        calc(var(--max-size--2) * 1rem / 16)
    );
    --min-scale--1: calc(var(--min-scale-0) / var(--min-ratio));
    --max-scale--1: calc(var(--max-scale-0) / var(--max-ratio));
    --min-size--1: calc(var(--min-size-0) / var(--min-ratio));
    --max-size--1: calc(var(--max-size-0) / var(--max-ratio));
    --step--1: clamp(
        calc(var(--min-size--1) * 1rem / 16),
        calc(
            var(--min-size--1) * 1rem / 16 +
                (var(--max-size--1) - var(--min-size--1)) * var(--fluid-break)
        ),
        calc(var(--max-size--1) * 1rem / 16)
    );
    --min-scale-0: var(--min-ratio);
    --max-scale-0: var(--max-ratio);
    --min-size-0: var(--min-size);
    --max-size-0: var(--max-size);
    --step-0: clamp(
        calc(var(--min-size-0) * 1rem / 16),
        calc(
            var(--min-size-0) * 1rem / 16 +
                (var(--max-size-0) - var(--min-size-0)) * var(--fluid-break)
        ),
        calc(var(--max-size-0) * 1rem / 16)
    );
    --min-scale-1: calc(var(--min-scale-0) * var(--min-ratio));
    --max-scale-1: calc(var(--max-scale-0) * var(--max-ratio));
    --min-size-1: calc(var(--min-size-0) * var(--min-ratio));
    --max-size-1: calc(var(--max-size-0) * var(--max-ratio));
    --step-1: clamp(
        calc(var(--min-size-1) * 1rem / 16),
        calc(
            var(--min-size-1) * 1rem / 16 +
                (var(--max-size-1) - var(--min-size-1)) * var(--fluid-break)
        ),
        calc(var(--max-size-1) * 1rem / 16)
    );
    --min-scale-2: calc(var(--min-scale-1) * var(--min-ratio));
    --max-scale-2: calc(var(--max-scale-1) * var(--max-ratio));
    --min-size-2: calc(var(--min-size-1) * var(--min-ratio));
    --max-size-2: calc(var(--max-size-1) * var(--max-ratio));
    --step-2: clamp(
        calc(var(--min-size-2) * 1rem / 16),
        calc(
            var(--min-size-2) * 1rem / 16 +
                (var(--max-size-2) - var(--min-size-2)) * var(--fluid-break)
        ),
        calc(var(--max-size-2) * 1rem / 16)
    );
    --min-scale-3: calc(var(--min-scale-2) * var(--min-ratio));
    --max-scale-3: calc(var(--max-scale-2) * var(--max-ratio));
    --min-size-3: calc(var(--min-size-2) * var(--min-ratio));
    --max-size-3: calc(var(--max-size-2) * var(--max-ratio));
    --step-3: clamp(
        calc(var(--min-size-3) * 1rem / 16),
        calc(
            var(--min-size-3) * 1rem / 16 +
                (var(--max-size-3) - var(--min-size-3)) * var(--fluid-break)
        ),
        calc(var(--max-size-3) * 1rem / 16)
    );
    --min-scale-4: calc(var(--min-scale-3) * var(--min-ratio));
    --max-scale-4: calc(var(--max-scale-3) * var(--max-ratio));
    --min-size-4: calc(var(--min-size-3) * var(--min-ratio));
    --max-size-4: calc(var(--max-size-3) * var(--max-ratio));
    --step-4: clamp(
        calc(var(--min-size-4) * 1rem / 16),
        calc(
            var(--min-size-4) * 1rem / 16 +
                (var(--max-size-4) - var(--min-size-4)) * var(--fluid-break)
        ),
        calc(var(--max-size-4) * 1rem / 16)
    );
    --min-scale-5: calc(var(--min-scale-4) * var(--min-ratio));
    --max-scale-5: calc(var(--max-scale-4) * var(--max-ratio));
    --min-size-5: calc(var(--min-size-4) * var(--min-ratio));
    --max-size-5: calc(var(--max-size-4) * var(--max-ratio));
    --step-5: clamp(
        calc(var(--min-size-5) * 1rem / 16),
        calc(
            var(--min-size-5) * 1rem / 16 +
                (var(--max-size-5) - var(--min-size-5)) * var(--fluid-break)
        ),
        calc(var(--max-size-5) * 1rem / 16)
    );
}
.text-xxxl {
    font-size: clamp(
        2.48832rem,
        calc(2.48832rem + 44.36142 * (100vw - 320px) / 820),
        5.26091rem
    );
    font-size: var(--step-5);
    font-weight: 700;
}
.text-xxl,
h1 {
    font-size: clamp(
        2.0736rem,
        calc(2.0736rem + 29.96909 * (100vw - 320px) / 820),
        3.94667rem
    );
    font-size: var(--step-4);
}
.text-xl,
h2 {
    font-size: clamp(
        1.728rem,
        calc(1.728rem + 19.72386 * (100vw - 320px) / 820),
        2.96074rem
    );
    font-size: var(--step-3);
}
.text-lg,
h3 {
    font-size: clamp(
        1.44rem,
        calc(1.44rem + 12.49778 * (100vw - 320px) / 820),
        2.22111rem
    );
    font-size: var(--step-2);
}
.text-md,
h4 {
    font-size: clamp(
        1.2rem,
        calc(1.2rem + 7.46 * (100vw - 320px) / 820),
        1.66625rem
    );
    font-size: var(--step-1);
}
h5,
h6 {
    font-size: clamp(1rem, calc(1rem + 4 * (100vw - 320px) / 820), 1.25rem);
    font-size: var(--step-0);
}
.text-sm {
    font-size: clamp(
        0.83333rem,
        calc(0.83333rem + 1.67042 * (100vw - 320px) / 820),
        0.93773rem
    );
    font-size: var(--step--1);
}
.text-xs {
    font-size: clamp(
        0.69444rem,
        calc(0.69444rem + 0.14452 * (100vw - 320px) / 820),
        0.70348rem
    );
    font-size: var(--step--2);
}
.text-xxxl,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}
.text-xxxl,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: clamp(1rem, calc(1rem + 4 * (100vw - 320px) / 820), 1.25rem);
    margin-bottom: var(--step-0);
}
p {
    font-size: clamp(1rem, calc(1rem + 4 * (100vw - 320px) / 820), 1.25rem);
    font-size: var(--step-0);
    line-height: 1.5;
    margin-top: clamp(1rem, calc(1rem + 4 * (100vw - 320px) / 820), 1.25rem);
    margin-top: var(--step-0);
}
:root {
    font-family: Helvetica, sans-serif;
}
:--headings {
    font-weight: 700;
}
.emphasis {
    font-style: italic;
}
p {
    font-weight: 300;
}
